
# to change language of repo from Javascript to Python
    *.less linguist-language=Python
# to change language of repo from css to Python
    *.scss linguist-language=Python
# to change language of repo from Javascript to Python
    *.html linguist-language=Python
