[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
south = "*"
django-compressor = "*"
django-celery = "*"
whitenoise = "*"
django-heroku-postgresify = "*"
django-heroku-memcacheify = "*"
celery = "==4.3.0"
kombu = "*"
flower = "==0.9.3"
django-taggit = "==1.2.0"
weasyprint = "==51"
django-rosetta = "*"
django-parler = "==2.0.1"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
