[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
south = "*"
django-compressor = "*"
django-celery = "*"

[dev-packages]

[requires]
python_version = "3.8"
