{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %} 

{% block body%}

    <hr class="offset-lg hidden-xs">
    <hr class="offset-md">

    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 md-padding">
          <h1 class="align-center">Returning Customer</h1>
          <br>

          <form class="signin" method="post">
          {% csrf_token %}
            <input type="email" name="username" value="" placeholder="E-mail" required="" class="form-control" />
            <br>
            <input type="password" name="password" value="" placeholder="Password" required="" class="form-control" />
            <br>

            <button type="submit" class="btn btn-primary">Sign In</button>
            <a href="#forgin-password" data-action="Forgot-Password" class="xs-margin">Password recovery ></a>
            <br><br>

            <p>
              If you already have an account with us, please login.
            </p>
            <hr class="offset-xs">

            <a href="#facebook" class="btn btn-facebook"> <i class="ion-social-facebook"></i> Login with Facebook </a>
            <hr class="offset-sm">

            <p>
              Don't have an account? Create one now! <a href="{% url 'users:sign_up' %}"> Registration > </a>
            </p>
{% comment %} {{form.as_p}}
<button type="submit">Log In</button> {% endcomment %}
          </form>
        </div>
      </div>
    </div>
    <br><br>
    <br class="hidden-xs">
    <br class="hidden-xs">



{% endblock body%}
