{% extends 'base.html' %}
{% load static %}

{% block title %} {{ object.title }} {% endblock %} 

{% block body%}

    <hr class="offset-lg">

    <div class="product">
    	<div class="container">
        <div class="row">
          <div class="col-sm-7 col-md-7">
            <div class="carousel product" data-count="5" data-current="1">
              <!-- <button class="btn btn-control"></button> -->

              <div class="items">
                <div class="item active" data-marker="1">
                {% if object.image %}
                    <img src="{{ object.image.url }}" alt="{{ object.title }}" />
                {% endif %}
                </div>
                <div class="item" data-marker="2">
                {% if object.image %}
                    <img src="{{ object.image.url }}" alt="{{ object.title }}" />
                {% endif %}
                </div>
                <div class="item" data-marker="3">
                {% if object.image %}
                    <img src="{{ object.image.url }}" alt="{{ object.title }}" />
                {% endif %}
                </div>
                <div class="item" data-marker="4">
                {% if object.image %}
                    <img src="{{ object.image.url }}" alt="{{ object.title }}" />
                {% endif %}
                </div>
                <div class="item" data-marker="5">
                {% if object.image %}
                    <img src="{{ object.image.url }}" alt="{{ object.title }}" />
                {% endif %}
                </div>
                <div class="item" data-marker="6">
                  <div class="tiles">
                    <a href="#video" data-gallery="#video" data-source="youtube" data-id="hED0N4CFoqs" data-title="An upscale new Chromebook from HP" data-description="{{ object.description }}">
                      {% if object.image %}
                        <img src="{{ object.image.url }}" alt="{{ object.title }}" />
                      {% endif %}

                      <div class="overlay"></div>
                      <div class="content">
                        <div class="content-outside">
                          <div class="content-inside">
                            <i class="ion-ios-play"></i>
                            <h1>Watch video review</h1>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>

              <ul class="markers">
                <li data-marker="1" class="active"><img src="../assets/img/product/1.jpg" alt="Background"/></li>
                <li data-marker="2"><img src="../assets/img/product/2.jpg" alt="Background"/></li>
                <li data-marker="3"><img src="../assets/img/product/3.jpg" alt="Background"/></li>
                <li data-marker="4"><img src="../assets/img/product/4.jpg" alt="Background"/></li>
                <li data-marker="5"><img src="../assets/img/product/5.jpg" alt="Background"/></li>
                <li data-marker="6"><img src="../assets/img/product/video.jpg" alt="Background"/></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-5 col-md-5">
            {% if object.image %}
            <img src="{{ object.image.url }}" alt="HP" class="brand hidden-xs" />
            {% endif %}
            
            <h1>{{ object.title }}</h1>

            <p> &middot; {{ object.operating_system }}™</p>
            <p> &middot; {{ object.processor }}1920 1280</p>
            <p> &middot; {{ object.graphics }}</p>
            <p> &middot; {{ object.tags.all|join:", " }}</p>

            <p class="price">${{object.price}}</p>
            <p class="price through">$249.99</p>
            <br><br>
            <form action="{% url 'cart:cart_add' product_id=object.id %}" method="post">
              {% csrf_token %}
              {{ cart_product_form }}
              <input class="btn btn-primary btn-rounded btn-sm" type="submit" value="Add to Cart">
            </form>
            <!-- <button class="btn btn-primary btn-rounded"> <i class="ion-bag"></i> Add to cart</button> -->
          </div>
        </div>
    		<br><br><br>


	    	<div class="row">
	    		<div class="col-sm-7">
	    			<h1>{{ object.title }}</h1>
		    		 <br>

		    		 <p>
		    		 	{{ object.description }}
		    		 </p>
		    		 <br>

             <h2>Product specifications</h2>
             <br>

             <div class="row specification">
              <div class="col-sm-6"> <label>Manufacturer</label> </div>
              <div class="col-sm-6"> <p>{{ object.manufacturer}}™</p> </div>
            </div>

              <div class="row specification">
                <div class="col-sm-6"> <label>Operating system</label> </div>
                <div class="col-sm-6"> <p>{{ object.operating_system}}™</p> </div>
              </div>              

              <div class="row specification">
                <div class="col-sm-6"> <label>Processor</label> </div>
                <div class="col-sm-6"> <p>{{ object.processor}}</p> </div>
              </div>

              <div class="row specification">
                <div class="col-sm-6"> <label>Processor technology</label> </div>
                <div class="col-sm-6"> <p>Intel Turbo Boost Technology</p> </div>
              </div>

              <div class="row specification">
                <div class="col-sm-6"> <label>Graphics</label> </div>
                <div class="col-sm-6"> <p>{{ object.graphics }}</p> </div>
              </div>

              <div class="row specification">
                <div class="col-sm-6"> <label>Memory</label> </div>
                <div class="col-sm-6"> <p>{{ object.memory }}GB RAM</p> </div>
              </div>

              <div class="row specification">
                <div class="col-sm-6"> <label>Hard drive</label> </div>
                <div class="col-sm-6"> <p>{{ object.hard_drive }}GB HDD</p> </div>
              </div>

              <div class="row specification">
                <div class="col-sm-6"> <label>Wireless</label> </div>
                <div class="col-sm-6"> <p>802.11ac (2x2) and Bluetooth® 4.0 combo</p> </div>
              </div>

              <div class="row specification">
                <div class="col-sm-6"> <label>Power supply</label> </div>
                <div class="col-sm-6"> <p>{{ object.power_supply }}</p> </div>
              </div>

              <div class="row specification">
                <div class="col-sm-6"> <label>Battery</label> </div>
                <div class="col-sm-6"> <p>{{ object.battery }}</p> </div>
              </div>
          </div>
          <div class="col-sm-5">
            <div class="comments">
              <h2 class="h3">What do you think? (#3)</h2>
              <br>


              <div class="wrapper">
                <div class="content">
                  <h3>Anne Hathaway</h3>
                  <label>2 years ago</label>
                  <p>
                    Apple Music brings iTunes music streaming to the UK. But is it worth paying for? In our Apple Music review, we examine the service's features, UK pricing, audio quality and music library
                  </p>


                  <h3>Chris Hemsworth</h3>
                  <label>Today</label>
                  <p>
                    Samsung's Galaxy S7 smartphone is getting serious hype. Here's what it does better than Apple's iPhone 6s.
                  </p>


                  <h3>Anne Hathaway</h3>
                  <label>2 years ago</label>
                  <p>
                    Apple Music brings iTunes music streaming to the UK. But is it worth paying for? In our Apple Music review, we examine the service's features, UK pricing, audio quality and music library
                  </p>
                </div>
              </div>
              <br>

              <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#Modal-Comment"> <i class="ion-chatbox-working"></i> Add comment </button>
            </div>
            <br><br>

            <div class="talk">
              <h2 class="h3">Do you have any questions?</h2>
              <p>Online chat with our manager</p>

              <button class="btn btn-default btn-sm"> <i class="ion-android-contact"></i> Lat's talk </button>
            </div>
	    		</div>
	    	</div>
    	</div>
    </div>
    <br><br>
                <!-- {% block sidebar %}
                {% include 'products/recommendation.html' %}
                <p>___________________________________________</p>
                {% endblock sidebar %} -->

    <section class="products">
        <div class="container">
            <h1 class="h3">Recommendation for you.</h1>
            
            <div class="row">
              {% for sim in similar_products %} 
              <div class="col-sm-6 col-md-3 product">
                <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
                <a href="{% url 'products:product_list_detail' sim.id sim.slug %}"><img src="{{ sim.image.url }}" alt="HP {{ sim.slug }}"/></a>

                <div class="content">
                  <h1 class="h4">{{ sim.title }}</h1> 
                  <p class="price">$ {{sim.price}}</p>
                  <label>{{ sim.category }}</label>
                  <a href="{% url 'products:product_list_detail' sim.id sim.slug %}" class="btn btn-link"> Details</a>
                  <!-- <button class="btn btn-primary btn-rounded btn-sm"> <i class="ion-bag"></i> Add to cart</button> -->
                  <form action="{% url 'cart:cart_add' sim.id %}" method="post">
                  {% csrf_token %}
                  {{ cart_product_form }}
                  <input class="btn btn-primary btn-rounded btn-sm" type="submit" value="Add to Cart">
                </form>
                </div>
              </div>
              {% endfor %}
            </div>
        </div>
    </section>
    <br><br>

{% endblock body%}

