{% extends 'base.html' %}
{% load static %}
{% block title %}Contacts{% endblock %} 

{% block body%}


    <hr class="offset-lg">

    <div class="container gallery">
        <div class="row">
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="{% static 'img/gallery/thumb/video-apple.jpg' %}" data-gallery="#video" 
                  data-source="vimeo" data-id="110691368" data-title="Apple iPad Air" data-description="So capable, you won’t want to put it down. So thin and light, you won’t have to.">
              <div class="overlay"></div>
              <i class="ion-ios-play"></i>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="{% static 'img/gallery/thumb/img1.jpg' %}" data-gallery="#photo" 
                  data-source="{% static 'img/gallery/img1.jpg' %}" data-title="Title" data-description="Description">
              <div class="overlay"></div>
              <i class="ion-ios-albums-outline"></i>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="{% static 'img/gallery/thumb/img2.jpg' %}" data-gallery="#photo" 
                  data-source="{% static 'img/gallery/img2.jpg' %}" data-title="Title" data-description="Description">
              <div class="overlay"></div>
              <i class="ion-ios-albums-outline"></i>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="{% static 'img/gallery/thumb/video-dell.jpg' %}" data-gallery="#video" 
                  data-source="youtube" data-id="yTJk6nZLEZc" data-title="Best New Dell Laptops" data-description="Best of dell's laptops that you can consider buying in 2016. 4 Laptops are featured in the video and all of them has equal importance and there is no order that #1 is better than #2">
              <div class="overlay"></div>
              <i class="ion-ios-play"></i>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="{% static 'img/gallery/thumb/img3.jpg' %}" data-gallery="#photo" 
                  data-source="{% static 'img/gallery/img3.jpg' %}" data-title="Title" data-description="Description">
              <div class="overlay"></div>
              <i class="ion-ios-albums-outline"></i>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="{% static 'img/gallery/thumb/img4.jpg' %}" data-gallery="#photo" 
                  data-source="{% static 'img/gallery/img4.jpg' %}" data-title="Title" data-description="Description">
              <div class="overlay"></div>
              <i class="ion-ios-albums-outline"></i>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="{% static 'img/gallery/thumb/img5.jpg' %}" data-gallery="#photo" 
                  data-source="{% static 'img/gallery/img5.jpg' %}" data-title="Title" data-description="Description">
              <div class="overlay"></div>
              <i class="ion-ios-albums-outline"></i>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="{% static 'img/gallery/thumb/img6.jpg' %}" data-gallery="#photo" 
                  data-source="{% static 'img/gallery/img6.jpg' %}" data-title="Title" data-description="Description">
              <div class="overlay"></div>
              <i class="ion-ios-albums-outline"></i>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="{% static 'img/gallery/thumb/img7.jpg' %}" data-gallery="#photo" 
                  data-source="{% static 'img/gallery/img7.jpg' %}" data-title="Title" data-description="Description">
              <div class="overlay"></div>
              <i class="ion-ios-albums-outline"></i>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="{% static 'img/gallery/thumb/img8.jpg' %}" data-gallery="#photo" 
                  data-source="{% static 'img/gallery/img8.jpg' %}" data-title="Title" data-description="Description">
              <div class="overlay"></div>
              <i class="ion-ios-albums-outline"></i>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="{% static 'img/gallery/thumb/img9.jpg' %}" data-gallery="#photo" 
                  data-source="{% static 'img/gallery/img9.jpg' %}" data-title="Title" data-description="Description">
              <div class="overlay"></div>
              <i class="ion-ios-albums-outline"></i>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="{% static 'img/gallery/thumb/img10.jpg' %}" data-gallery="#photo" 
                  data-source="{% static 'img/gallery/img10.jpg' %}" data-title="Title" data-description="Description">
              <div class="overlay"></div>
              <i class="ion-ios-albums-outline"></i>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
            <div class="preview" data-preview="{% static 'img/gallery/thumb/img11.jpg' %}" data-gallery="#photo" 
                  data-source="{% static 'img/gallery/img11.jpg' %}" data-title="Title" data-description="Description">
              <div class="overlay"></div>
              <i class="ion-ios-albums-outline"></i>
            </div>
          </div>
        </div>
    </div>
    <hr class="offset-lg">
    <hr class="offset-lg">

{% endblock body%}