            <!-- {% if is_paginated %} -->
<nav>            
    <ul class="pagination">
    {% if page.has_previous %}
      <li>
        <a href="?page={{ page.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">Previous <i class="ion-ios-arrow-left"></i></span>
        </a>
      </li>
      {% endif %}
      {% if page.has_next %}
    <li>
        <a href="?page={{ page.next_page_number }}" aria-label="Next">
          <span aria-hidden="true"><i class="ion-ios-arrow-right"></i> Next</span>
        </a>
    </li>
      {% endif %}
    </ul>
    <!-- {% endif %} -->
</nav>